<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<% @posts.each do |post| %>
    <div class="post">
        <%= render "post", post: post %>
    </div>
<% end %>

<br>

<%= paginate @posts, window: 2 %>

<br>

<%= link_to 'New Post', new_user_post_path %>
